$themes: (
  default: ("body-bg": #d0d9cc,
    "primary": #53df90,
    "secondary": #7cf3df,
    "success": #00f867,
    "info": #e27dcd,
    "warning": #f0cf56,
    "danger": #e35555,
    "light": #d3deea,
    "dark": #04382e,
    "grey": #424c4b,
  ),
  dark: ("body-bg": #090f18,
    "primary": #89e5b0,
    "secondary": #fff9a4,
    "success": #00f867,
    "info": #330163,
    "warning": #fbcf33,
    "danger": #eb5757,
    "light": #ebeef1,
    "dark": #090f18,
    "grey": #cbcbcb,
  ),
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));